// Place all the styles related to the StudentFees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chosen-container-single .chosen-single {
	line-height: 33px;
	height: 37px;
}
.chosen-container {
	width: 100%;
	font-size: 25px;
}
